services:
  sf-catalog-db:
    container_name: sf-catalog-db
    image: mysql:8

    environment:
      MYSQL_ROOT_PASSWORD: ${SF_CATALOG_DB_PASSWORD}
      MYSQL_USER: ${SF_CATALOG_DB_USER}
      MYSQL_PASSWORD: ${SF_CATALOG_DB_PASSWORD}
      MYSQL_DATABASE: ${SF_CATALOG_DB_DATABASE}
    ports:
      - "${SF_CATALOG_DB_PORT}:3306"
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "${SF_CATALOG_DB_USER}",
          "-p${SF_CATALOG_DB_PASSWORD}",
        ]
      timeout: 5s
      retries: 10
      interval: 10s
    restart: always

  sf-catalog-db-shadow:
    container_name: sf-catalog-db-shadow
    image: mysql:8

    environment:
      MYSQL_ROOT_PASSWORD: ${SF_CATALOG_DB_PASSWORD}
      MYSQL_USER: ${SF_CATALOG_DB_USER}
      MYSQL_PASSWORD: ${SF_CATALOG_DB_PASSWORD}
      MYSQL_DATABASE: ${SF_CATALOG_SHADOW_DB_NAME}
    ports:
      - "${SF_CATALOG_DB_SHADOW_PORT}:3306"
    restart: always

  # sf-catalog-api:
  #   container_name: sf-catalog-api
  #   image: sf-catalog-api
  #   build:
  #     context: .
  #   ports:
  #     - "${SF_CATALOG_API_PORT:-3003}:3003"
  #   environment:
  #     SF_CATALOG_API_PORT: 3003
  #     SF_CATALOG_DB_HOST: ${SF_CATALOG_DB_HOST}
  #     SF_CATALOG_DB_PORT: ${SF_CATALOG_DB_PORT}
  #     SF_CATALOG_DB_USER: ${SF_CATALOG_DB_USER}
  #     SF_CATALOG_DB_PASSWORD: ${SF_CATALOG_DB_PASSWORD}
  #     SF_CATALOG_DB_DATABASE: ${SF_CATALOG_DB_DATABASE}
  #     SF_CATALOG_DATABASE_URL: ${SF_CATALOG_DATABASE_URL_INTERNAL}
  #     SF_CATALOG_SHADOW_DATABASE_URL: ${SF_CATALOG_SHADOW_DATABASE_URL_INTERNAL}
  #     SF_MQ_URL: ${SF_MQ_URL:-5672}
  #     SF_MQ_EXCHANGE: ${SF_MQ_EXCHANGE:-sf.events}
  #     SF_MQ_PRODUCT_CREATED_KEY: ${SF_MQ_PRODUCT_CREATED_KEY:-product.created.v1}
  #   command: >
  #     sh -c "npx prisma migrate deploy &&
  #            npm run start"
  #   depends_on:
  #     sf-catalog-db:
  #       condition: service_healthy
  #     sf-catalog-db-shadow:
  #       condition: service_started

volumes:
  pgdata:
