apiVersion: v1
kind: Namespace
metadata:
  name: sf
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sf-catalog-api
  namespace: sf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sf-catalog-api
  template:
    metadata:
      labels:
        app: sf-catalog-api
    spec:
      containers:
        - name: api
          image: sf-catalog-api:local
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          env:
          - name: NODE_ENV
            value: "production"

          - name: SF_CATALOG_DB_HOST
            value: "host.docker.internal"

          - name: SF_CATALOG_DB_PORT
            value: "3309"

          - name: SF_CATALOG_DB_USER
            value: "catalog_user"

          - name: SF_CATALOG_DB_PASSWORD
            value: "passw0rd"

          - name: SF_CATALOG_DB_DATABASE
            value: "sf_catalog_db"

          - name: SF_CATALOG_API_PORT
            value: "3000"

          - name: SF_CATALOG_DATABASE_URL
            value: "mysql://catalog_user:passw0rd@host.docker.internal:3309/sf_catalog_db"

          - name: SF_CATALOG_SHADOW_DATABASE_URL
            value: "mysql://catalog_user:passw0rd@host.docker.internal:3310/sf_catalog_shadow"

              
          ports:
            - containerPort: 3000
          # O comando aguarda o banco estar disponível antes de rodar a migração
          command: ["sh", "-c"]
          args: 
            - |
              echo "Aguardando banco de dados..."
              npx prisma migrate deploy && 
              npm run start
---
apiVersion: v1
kind: Service
metadata:
  name: sf-catalog-api
  namespace: sf
spec:
  type: ClusterIP
  selector:
    app: sf-catalog-api
  ports:
    - port: 3000
      targetPort: 3000